*{
    margin: 0;
}
.header{
    width: 100vw;
    height: 20vh;
    background-color: aqua;
    margin:0 ;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 10px 20px rgb(117, 117, 117);
}
.headerdiv{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.navbar{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: black;
}