.pagina-perfil {
    min-height: 100vh;
    background: #F8F9FA;
    padding-top: 70px;
  }
  
  .conteudo-perfil {
    padding: 20px;
  }
  
  .container-perfil {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
  }
  .lado-esquerdo {
    position: sticky;
    top: 8rem;
    height: fit-content;
  }
  
  .lado-direito {
    min-height: 160vh;
    margin-top:4rem;
    border-radius: 12px;
  }
  
  /* Responsivo */
  @media (max-width: 1024px) {
    .container-perfil {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    
    .lado-esquerdo {
      position: static;
    }
  }
  
  @media (max-width: 768px) {
    .conteudo-perfil {
      padding: 15px;
    }
    
    .container-perfil {
      gap: 15px;
    }
  }